
.header {
    max-width: 1173px;
    margin: 0 auto;
    height: 84px;
    display: flex;
    align-items: center;
    gap: 356px;
    padding-left: 10px;
}

.header_btn {
    width: 196px;
    height: 58px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    background: #608AF5;
    transition: .5s;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    letter-spacing: 0.055em;
    text-align: center;
    color: #FFF;
}

.header_btn:hover{
    background: none;
    color: #608AF5;
    border-color: #608AF5;
    transition: .5s;
}
.logo {
    width: 162px;
    height: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 45px;
}

.linc {
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.055em;
    text-align: center;
    color: #212121;
    text-decoration: none;
    transition: .5s;
}
.linc:hover{
    color: #608AF5;
    transition: .5s;
}

.menu_icon {
    font-size: 25px;
    color: #000000;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 1183px){
    .header{
        gap: 200px;
    }
}
@media only screen and (max-width: 1000px){
    .header{
        gap: 100px;
    }
}
@media only screen and (max-width: 900px){
    .navbar{
        gap: 20px;
    }
}
@media only screen and (max-width: 830px){
    .header{
        gap: 50px;
    }
    
    .navbar{
        gap: 15px;
    }
}
@media only screen and (max-width: 765px){
    .linc{
        display: none;
    }
    .header{
        gap: 150px;
    }
}
@media only screen and (max-width: 575px){
    .header{
        gap: 50px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 455px){
  .navbar{
    display: none;
  }
  .menu_icon{
    display: block;
  }
}